{% extends 'core/base.html' %}


{% block title %}
{{post.title}}
{% endblock %}
{% block style %}
{% endblock %}

{% block main %}

<form action="{% url 'edit_post' post_id=post.id %}" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {{ form.as_p }}
    <!-- <label for="title">عنوان: </label>
    <input type="text" name="title" id="title">
    <label for="content">محتوا: </label>
    <textarea style="resize: none;" name="content" id="content" rows="10" cols="40" ></textarea>
    <label for="user">کاربر: </label>
    <input type="text", name="user" id="user">
    <label for="category">موضوع: </label>
    <input type="text" name="category" id="category">

 -->

    <input type="submit" value="ویرایش" >

</form>

{% endblock %}