
{% extends 'core/base.html' %}


{% block title %}
ایجاد پست جدید
{% endblock %}
{% block style %}
{% endblock %}

{% block main %}

<form action="{% url 'new_post' %}" method="post">
    {% csrf_token %}
    {{ harchi.as_p }}
    <!-- <label for="title">عنوان: </label>
    <input type="text" name="title" id="title">
    <label for="content">محتوا: </label>
    <textarea style="resize: none;" name="content" id="content" rows="10" cols="40" ></textarea>
    <label for="user">کاربر: </label>
    <input type="text", name="user" id="user">
    <label for="category">موضوع: </label>
    <input type="text" name="category" id="category">

 -->

    <input type="submit" value="ایجاد" >

</form>

{% endblock %}